<div class="container">
  <h1>User Skills and Levels</h1>

  <%# TODO: display the skills and proficiency levels for each user ... %>

  <table>
    <tr>
      <th>Name</th>
      <th>Skills</th>
      <th>Years</th>
      <th>Formal</th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><a href='/sessions/<%= user.id %>'><%= user.name %></a></td>
        <% if user.proficiencies.length > 0 %>
          <% user.proficiencies.each_with_index do |proficiency,index| %>
            <% if index > 0 %>
              <tr><td></td>
            <% end %>
            <td><%= proficiency.skill.name %></td>
            <td><%= proficiency.created_at %></td>
            <td><%= proficiency.formal %></td>
          <% end %>
        <% else %>
          <td>none</td>
          <td>NA</td>
          <td>NA</td>
        <% end %>
      </tr>
    <% end %>

  </table>
</div>
