<div class="container">
  <h3>USER PAGE</h3>

  <table>
    <tr>
      <th>Name</th>
      <th>Skills</th>
      <th>Years</th>
      <th>Formal</th>
    </tr>
    <tr>
      <td><a href='/sessions/<%= @user.id %>'><%= @user.name %></a></td>
      <% if @user.proficiencies.length > 0 %>
        <% @user.proficiencies.each_with_index do |proficiency,index| %>
          <% if index > 0 %>
            <tr><td></td>
          <% end %>
          <td><%= Skill.find(proficiency.skill_id).name %></td>
          <td><%= proficiency.created_at %></td>
          <td><%= proficiency.formal %></td>
        <% end %>
      <% else %>
        <td>none</td>
        <td>NA</td>
        <td>NA</td>
      <% end %>
    </tr>
  </table>

  <% if session[:user_id] == @user.id %>
    <p><a href="/add_skills/<%= @user.id %>">Add Skills</a></p>
  <% end %>
</div>